@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-white: #fff;
  --color-dark: #000000;
  --color-client1: #0c0c2c;
  --color-client2: #fb6b04;
}

body {
  color: var(--color-dark);
  background: var(--color-white);
}

/*Navigation bar*/
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  box-shadow: 0 0.1rem 0.5rem #ccc;
  width: 100%;
  background: var(--color-white);
  transition: all 0.5;
  position: fixed;
  z-index: 2;
}

.navigation .logo img {
  width: 150px;
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.navigation ul li a {
  color: var(--color-client2);
  font-size: 17px;
  font-weight: 600;
  transition: all 0.5s;
}

.navigation ul li a:hover {
  color: var(--color-client1);
}

/*menu responsive*/
.menu {
  cursor: pointer;
  display: none;
}

.menu .bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background: var(--color-dark);
  margin: 5px auto;
  transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
  background: var(--color-client2);
}

/*main*/
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
}

.home-text {
  max-width: 37rem;
  width: 50%;
}

.home-text .text-h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-client2);
  margin-bottom: 1rem;
}

.home-text .text-h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 4rem;
  color: var(--color-client1);
}

.home-text p {
  margin-bottom: 4rem;
}

.btn-orcamento {
  padding: 15px 45px;
  background: var(--color-client2);
  color: var(--color-white);
  border-radius: 10px;
  font-weight: 550;
  transition: all 0.5s;
}

.btn-orcamento:hover {
  background: var(--color-client1);
}
/* Slider*/
.swiper {
  width: 50%;
  height: 300px;
  border-radius: 10px;
}
.swiper img {
  align-items: center;
  justify-content: center;
  width: 100%;
}
.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-color: var(--color-client2);
}
.swiper-pagination-bullet {
  --swiper-pagination-color: var(--color-client2);
}
/* footer*/
.copyright {
  padding: 1px;
  text-align: center;
  font-size: 16px;
  color: var(--color-client1);
}
.developer {
  padding: 1px;
  text-align: center;
}
.developer a {
  font-size: 12px;
  color: var(--color-client1);
}
/*Page-solar*/
.solar-home {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 110px;
  display: block;
}
.solar-home-text {
  text-align: center;
  text-justify: distribute-all-lines;
}
.solar-home-text h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-client2);
  margin-bottom: 1rem;
}
.solar-home-text h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-client2);
  margin-bottom: 1rem;
}
.solar-home-text h4 {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-client2);
  margin-bottom: 1rem;
}
.solar-home-text p {
  margin-bottom: 64px;
  padding: 10px;
  margin: 20px;
  line-height: 1.5em;
  text-align: justify;
}
.solar-home-passo_a_passo {
  font-size: 18px;
}
.solar-home-passo_a_passo li {
  margin-bottom: 5px;
  margin-right: 10px;
  display: block;
}
.solar-button {
  width: 100%;
  text-align: center;
}

/*Page-sobre*/
/*historia*/
.sobre-home {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 110px;
  display: block;
}

.sobre-home-text {
  text-align: center;
  text-justify: distribute-all-lines;
}
.sobre-home-text h3 {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-client2);
  margin-bottom: 1rem;
}

.sobre-home-text p {
  margin-bottom: 64px;
  padding: 10px;
  margin: 20px;
  line-height: 1.5em;
}

.sobre-button {
  width: 100%;
  text-align: center;
}
/*projetos*/
.projetos-home {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: block;
}
.projetos-home-text {
  text-align: center;
  margin-bottom: 10px;
}
.projetos-home-text h3 {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-client2);
  margin-bottom: 16px;
}
.fb-post-container {
  text-align: center;
}
/*information*/
.infos {
  align-items: center;
  display: block;
  justify-content: center;
  padding: 50px;
  text-align: center;
}
.contatos a {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-client1);
  margin-bottom: 1rem;
  display: block;
  justify-content: center;
  transition: all 0.5s;
}
/*icones*/
.icons {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.icons ul li {
  list-style: none;
  margin: 0 5px;
}
.icons ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 30px;
  color: var(--color-client1);
  transition: 0.5s;
}
.icons ul li a:hover {
  color: #fff;
}
.icons ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-client1);
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
}
.icons ul li a:hover:before {
  transform: scale(1);
}
.icons ul li:nth-child(1) a:hover:before {
  background: #1877f2;
}
.icons ul li:nth-child(2) a:hover:before {
  background: #e4405f;
}
.icons ul li:nth-child(3) a:hover:before {
  background: #0a66c2;
}
.icons ul li:nth-child(4) a:hover:before {
  background: #ff0000;
}

/*responsive*/
@media (max-width: 785px) {
  .navigation {
    padding: 18px 20px;
  }
  .menu {
    display: block;
  }
  .menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--color-white);
    gap: -10px;
    transition: 0.3s;
  }
  .nav-menu.ativo {
    right: 0;
  }
  .nav-item {
    margin: 16px 0;
  }

  /*main*/
  .home {
    padding: 100px 2%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 5rem;
  }
  .home .text-h4 {
    font-size: 15px;
  }
  .home .text-h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .home p {
    font-size: 15px;
  }
  .glider img {
    max-width: 100vh;
  }
}
