@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-white: #fff;
  --color-dark: #000000;
  --color-client1: #0c0c2c;
  --color-client2: #fb6b04;
}

body {
  color: var(--color-dark);
  background: var(--color-white);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  box-shadow: 0 0.1rem 0.5rem #ccc;
  width: 100%;
  background: var(--color-white);
  transition: all 0.5;
  position: fixed;
}

.navigation .logo img {
  width: 150px;
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.navigation ul li a {
  color: var(--color-client2);
  font-size: 17px;
  font-weight: 600;
  transition: all 0.5s;
}

.navigation ul li a:hover {
  color: var(--color-client1);
}

.menu {
  cursor: pointer;
  display: none;
}

.menu .bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background: var(--color-dark);
  margin: 5px auto;
  transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
  background: var(--color-client2);
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
}

.home-text {
  max-width: 37rem;
}

.home-text .text-h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-client2);
  margin-bottom: 1rem;
}

.home-text .text-h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 4rem;
  color: var(--color-client1);
}

.home-text p {
  margin-bottom: 4rem;
}

.home-btn {
  padding: 15px 45px;
  background: var(--color-client2);
  color: var(--color-white);
  border-radius: 10px;
  font-weight: 550;
  transition: all 0.5s;
}

.home-btn:hover {
  background: var(--color-client1);
}

/* Slide Show */
.container-slide {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  height: 50vh;
  background: var(--color-dark);
  margin: 20vh auto;
  border-radius: 10px;
  box-shadow: 0 10px 20px #ccc;
}

.container-items {
  position: absolute;
  display: flex;
  width: 50vw;
  height: 50vh;
  border-radius: 10px;
  background: #fb6b04;
}

.item {
  width: 50vw;
  height: 50vh;
}

.item img {
  width: 50vw;
  height: 50vh;
}

.action-button {
  font: bold 30px sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  color: #00000000;
  user-select: none;
  z-index: 1;
}

.action-button:hover {
  color: var(--color-white);
  background: var(--color-dark);
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s;
}

/*responsivo*/

@media (max-width: 785px) {
  .navigation {
    padding: 18px 20px;
  }
  .menu {
    display: block;
  }
  .menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--color-white);
    gap: -10px;
    transition: 0.3s;
  }
  .nav-menu.ativo {
    right: 0;
  }
  .nav-item {
    margin: 16px 0;
  }

  /*main*/
  .home {
    padding: 100px 2%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 5rem;
  }
  .home .text-h4 {
    font-size: 15px;
  }
  .home .text-h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .home p {
    font-size: 15px;
  }
}
