@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@300;400&display=swap");

@font-face {
  font-family: font-evolt;
  src: url(/asset/fonts/Meedori\ Sans\ Bold.ttf) format(truetype),
    url(/asset/fonts/Meedori\ Sans\ Light.ttf) format(truetype),
    url(/asset/fonts/Meedori\ Sans\ Regular.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --color-white: #fff;
  --color-dark: #000000;
  --color-client1: #0c0c2c;
  --color-client2: #fb6b04;
}

body {
  color: var(--color-dark);
  background: var(--color-white);
}

/*navigation bar*/
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  box-shadow: 0 0.1rem 0.5rem #ccc;
  width: 100%;
  background: var(--color-white);
  transition: all 0.5;
  position: fixed;
  z-index: 2;
  font-family: "font-evolt";
}
.navigation .logo img {
  width: 150px;
}
.navigation ul {
  display: flex;
  align-items: center;
  gap: 5rem;
  list-style: none;
}
.navigation ul li a {
  color: var(--color-client2);
  font-size: 17px;
  font-weight: 600;
  transition: all 0.5s;
}
.navigation ul li a:hover {
  color: var(--color-client1);
}
/*End navigation bar*/

/*menu responsive*/
.menu {
  cursor: pointer;
  display: none;
}

.menu .bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background: var(--color-dark);
  margin: 5px auto;
  transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
  background: var(--color-client2);
}
/*End menu responsive*/

/*botao de orcamento*/
.btn-orcamento {
  padding: 15px 45px;
  background: var(--color-client2);
  color: var(--color-white);
  border: none;
  border-radius: 10px;
  font-weight: 550;
  transition: all 0.5s;
  font-size: 20px;
  font-family: "Roboto";
}

.btn-orcamento:hover {
  background: var(--color-client1);
}
/*End botao de orcamento*/

/*page-index*/
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
}

.home-text {
  max-width: 37rem;
  width: 50%;
  padding: 20px;
  margin-right: 20px;
}

.home-text .text-h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-client1);
  margin-bottom: 1rem;
  font-family: "font-evolt";
}

.home-text .text-h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 4rem;
  color: var(--color-client2);
  font-family: "font-evolt";
}

.home-text .text-p1 {
  font-family: "Roboto";
  text-justify: distribute-all-lines;
  line-height: 1.5;
  padding-bottom: 8px;
  text-align: justify;
}
.home-text .text-p2 {
  color: var(--color-client2);
  font-weight: bold;
  font-family: "Roboto";
  text-justify: distribute-all-lines;
  line-height: 1.5;
  padding-bottom: 8px;
  text-align: justify;
}
.btn-index {
  margin-top: 20px;
}

/*Slider*/
.swiper-slide {
  position: relative;
  width: 100%;
  height: 50%;
  border-radius: 10px; /* adiciona o border-radius na imagem */
  overflow: hidden;
  font-family: "Roboto"; /* recorta o conteúdo que extrapole os limites */
}
.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.swiper-slide-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px; /* defina a altura desejada para o overlay */
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide-overlay p {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-color: var(--color-client2);
}
.swiper-pagination-bullet {
  --swiper-pagination-color: var(--color-client2);
}
/*End page-index*/

/*page-solar*/
.solar-home {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 110px;
  display: block;
}
.solar-home-text {
  text-align: justify;
  text-justify: distribute-all-lines;
}
.solar-home-text h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: var(--color-client2);
  margin-bottom: 1rem;
  font-family: "font-evolt";
}
.solar-home-text h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-client2);
  margin-bottom: 1rem;
  font-family: "font-evolt";
}
.solar-home-text h4 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-client2);
  margin-bottom: 1rem;
  font-family: "font-evolt";
}
.solar-home-text p {
  margin-bottom: 64px;
  padding: 15px;
  margin: 20px;
  line-height: 1.5em;
  text-align: justify;
  font-family: "Roboto";
}
.solar-home-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.solar-home-img img {
  width: 700px;
  padding: 20px 0;
}

.solar-home-text ol {
  list-style-type: decimal;
  font-family: "Roboto";
}
.solar-home-text ol li {
  margin-left: 50px;
  margin-bottom: 10px;
}
.solar-home-text li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.btn-solar {
  text-align: center;
  width: 100%;
  margin-top: 30px;
}
/*End page-solar*/

/*page-sobre_nos*/
/*historia*/
.sobre-home {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 110px;
  display: block;
}
.sobre-home-text {
  text-align: justify;
  text-justify: distribute-all-lines;
}
.sobre-home-text h3 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: var(--color-client2);
  margin-bottom: 1rem;
  font-family: "font-evolt";
}
.sobre-home-text p {
  margin-bottom: 64px;
  padding: 15px;
  margin: 20px;
  line-height: 1.5em;
  text-align: justify;
  font-family: "Roboto";
}
.btn-sobre_nos {
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

/*projetos*/
.projetos-home {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: block;
}
.projetos-home-text {
  text-align: center;
  margin-bottom: 10px;
}
.projetos-home-text h3 {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-client2);
  margin-bottom: 16px;
  font-family: "font-evolt";
}
.fb-post-container {
  text-align: center;
}
/*End page-sobre*/

/*page contatos*/
.contato-home {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 110px;
  display: block;
}

.contato-home-text {
  text-align: center;
  text-justify: distribute-all-lines;
}
.contato-home-text h3 {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-client2);
  margin-bottom: 1rem;
  font-family: "font-evolt";
}

.contato-home-text p {
  margin-bottom: 64px;
  padding: 15px;
  margin: 20px;
  line-height: 1.5em;
  text-align: justify;
  font-family: "Roboto";
}

.btn-contato {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
/*End page contatos*/

/*page calculadora*/
.cal_solar-home {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 110px;
  display: block;
}

.cal_solar-home-text {
  text-align: center;
  text-justify: distribute-all-lines;
}
.cal_solar-home-text h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-client2);
  margin-bottom: 1rem;
  font-family: "font-evolt";
}

.cal_solar-home-text p {
  margin-bottom: 64px;
  padding: 15px;
  margin: 20px;
  line-height: 1.5em;
  text-align: justify;
  font-family: "Roboto";
}

.btn-cal_solar {
  width: 100%;
  padding: 20px;
  text-align: center;
}
/*End page calculadora*/

/*information*/
.infos {
  align-items: center;
  display: block;
  justify-content: center;
  padding: 20px;
  text-align: center;
}
.contatos a {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-client1);
  margin-bottom: 1rem;
  display: block;
  justify-content: center;
  transition: all 0.5s;
  font-family: "Roboto";
}
/*icones*/
.icons {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.icons ul li {
  list-style: none;
  margin: 0 5px;
}
.icons ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 30px;
  color: var(--color-client1);
  transition: 0.5s;
}
.icons ul li a:hover {
  color: #fff;
}
.icons ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-client1);
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
}
.icons ul li a:hover:before {
  transform: scale(1);
}
.icons ul li:nth-child(1) a:hover:before {
  background: #1877f2;
}
.icons ul li:nth-child(2) a:hover:before {
  background: #e4405f;
}
.icons ul li:nth-child(3) a:hover:before {
  background: #0a66c2;
}
.icons ul li:nth-child(4) a:hover:before {
  background: #ff0000;
}
/*End icones*/

/*footer*/
.copyright {
  padding: 1px;
  text-align: center;
  font-size: 14px;
  color: var(--color-client1);
}
.copyright-evolt {
  font-family: "font-evolt";
}
.copyright-direitos {
  font-family: "Roboto";
}
.developer {
  padding: 1px;
  text-align: center;
  font-family: "Roboto";
}
.developer a {
  font-size: 12px;
  color: var(--color-client1);
}
/*End footer*/

/*responsive*/
@media (max-width: 1024px) {
  .navigation {
    padding: 18px 20px;
  }
  .menu {
    display: block;
  }
  .menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--color-white);
    gap: -10px;
    transition: 0.3s;
  }
  .nav-menu.ativo {
    right: 0;
  }
  .nav-item {
    margin: 16px 0;
  }
  .navigation ul li a {
    font-size: 20px;
  }
  .btn-orcamento {
    padding: 15px 2%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 5rem;
    font-size: 24px;
  }

  /*index*/
  .home {
    padding: 80px 2%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 5rem;
  }
  .home .text-h4 {
    font-size: 24px;
  }
  .home .text-h1 {
    font-size: 40px;
    line-height: 48px;
  }
  .home p {
    font-size: 20px;
  }
  /*Slide*/
  .swiper {
    width: 60%;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .copyright {
    font-size: 16px;
  }
  .developer {
    font-size: 10px;
  }

  /*energia solar*/
  .solar-home {
    padding: 100px 2%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 5rem;
  }
  .solar-home .text-h4 {
    font-size: 15px;
  }
  .solar-home .text-h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .solar-home p {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .navigation {
    padding: 18px 20px;
  }
  .menu {
    display: block;
  }
  .menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--color-white);
    gap: -10px;
    transition: 0.3s;
  }
  .nav-menu.ativo {
    right: 0;
  }
  .nav-item {
    margin: 16px 0;
  }
  .btn-orcamento {
    padding: 10px 2%;
    text-align: center;
    overflow: hidden;
    gap: 1rem;
    font-size: 12px;
  }
  .home {
    padding: 50px 2%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 1rem;
  }
  .home .text-h4 {
    font-size: 18px;
  }
  .home .text-h1 {
    font-size: 32px;
    line-height: 2.5rem;
  }
  .home p {
    font-size: 18px;
  }
  .swiper-slide {
    width: 255px;
    height: 255px;
  }
}
@media (max-width: 480px) {
  /* regras de estilo para telas menores ou iguais a 828px */
  .navigation {
    padding: 18px 20px;
  }
  .menu {
    display: block;
  }
  .menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--color-white);
    gap: -10px;
    transition: 0.3s;
  }
  .nav-menu.ativo {
    right: 0;
  }
  .nav-item {
    margin: 16px 0;
  }
  .btn-orcamento {
    padding: 10px 2%;
    text-align: center;
    overflow: hidden;
    gap: 1rem;
    font-size: 16px;
  }
  .home {
    padding: 50px 2%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 1rem;
  }
  .home .text-h4 {
    font-size: 12px;
  }
  .home .text-h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .home p {
    font-size: 16px;
  }
  .swiper-slide {
    width: 255px;
    height: 255px;
  }
}

@media (max-width: 320px) {
  .navigation {
    padding: 18px 20px;
  }
  .menu {
    display: block;
  }
  .menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--color-white);
    gap: -10px;
    transition: 0.3s;
  }
  .nav-menu.ativo {
    right: 0;
  }
  .nav-item {
    margin: 16px 0;
  }
  .btn-orcamento {
    padding: 10px 2%;
    text-align: center;
    overflow: hidden;
    gap: 1rem;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .home {
    padding: 50px 2%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 1rem;
  }
  .home .text-h4 {
    font-size: 12px;
  }
  .home .text-h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .home p {
    font-size: 14px; /* padrao dessa resolução*/
  }
  .swiper-slide {
    width: 255px;
    height: 255px;
  }
}
